h1{
  text-align: center;
  margin-bottom: -70px;
  color: gold;
  z-index: 50;
  font-family: "brush script mt";
}

.container{
  display: grid;
  border-style: solid;
  border-width: 75px;
  border-color: red;
  background: blue;
  border-radius: 50px;
  margin: auto;
  height: 500px;
  width: 800px;
}

.box{
  color: black;
  background: azure;
}

.buttons{
  position: absolute;
bottom: 10px;
  justify-content: center;
  margin: auto;
  
}

.reset{font-size: 40px;}